//Mobile styles

div.search-tiler
{
    background-image:url(../img/header/search_tiler.jpg);
    border-top: 2px solid #c3bdb5;
    border-left: 2px solid #c3bdb5;
    border-bottom: 1px solid #e3e0d9;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 3px;
    text-align: center;
    display: block;
    height: 44px;
}

.navbar-search
{
    margin: 5px 10px;
    width: 97%;
}



a:link.navheading-clothing, a:visited.navheading-clothing, a:active.navheading-clothing
{
    font-size: 20px;
    line-height: 20px;
    height: 100px;
    background-image:url(../img/icons/ico_clothing_heading2.gif);
    background-repeat: no-repeat;
    background-position: right center;
}
a:hover.navheading-clothing
{
    font-size: 20px;
    line-height: 20px;
    height: 100px;
    background-image:url(../img/icons/ico_clothing_heading2_hover.gif);
    background-repeat: no-repeat;
    border-right: 2px solid #d2c9bd;
    background-position: right;
}

a:link.navheading-food, a:visited.navheading-food, a:active.navheading-food
{
    font-size: 20px;
    line-height: 20px;
    height: 100px;
    background-image:url(../img/icons/ico_food_heading2.gif);
    background-repeat: no-repeat;
    background-position: right center;
}
a:hover.navheading-food
{
    font-size: 20px;
    line-height: 20px;
    height: 100px;
    background-image:url(../img/icons/ico_food_heading2_hover.gif);
    background-repeat: no-repeat;
    border-right: 2px solid #d2c9bd;
    background-position: right;
}

a:link.navheading-homeware, a:visited.navheading-homeware, a:active.navheading-homeware
{
    font-size: 20px;
    line-height: 20px;
    height: 100px;
    background-image:url(../img/icons/ico_home_heading2.gif);
    background-repeat: no-repeat;
    background-position: right center;
}
a:hover.navheading-homeware
{
    font-size: 20px;
    line-height: 20px;
    height: 100px;
    background-image:url(../img/icons/ico_home_heading2_hover.gif);
    background-repeat: no-repeat;
    border-right: 2px solid #d2c9bd;
    background-position: right;
}

a:link.navheading-gifts, a:visited.navheading-gifts, a:active.navheading-gifts
{
    font-size: 20px;
    line-height: 16px;
    color: @otwbrown;
    height: 100px;
    background-image:url(../img/icons/ico_gifts_heading2.gif);
    background-repeat: no-repeat;
    background-position: right center;
}
a:hover.navheading-gifts
{
    font-size: 20px;
    line-height: 16px;
    height: 100px;
    background-image:url(../img/icons/ico_gifts_heading2_hover.gif);
    background-repeat: no-repeat;
    background-position: right;
}

div.mobile-logo-edge-left
{
}
div.mobile-logo
{
    text-transform: uppercase;
    height:28px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    background-color: #e31d1a;
    text-align: center;
    padding-top: 10px;
}
div.mobile-logo a:link, div.mobile-logo a:hover, div.mobile-logo a:active, div.mobile-logo a:visited
{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}
div.mobile-logo-edge-right
{
}




